<% if user_signed_in? %>
  <%= link_to '<i class="glyphicon glyphicon-off"></i> Log Off'.html_safe,  destroy_user_session_path, method: :delete %>
<% end %>


<p><strong><%= @user.email %></strong> profile page</p>


<% @expenses.each do |expense| %>
  <p><%= expense.description %></p>
  <p>$ <%= '%.2f' % expense.amount.to_s %></p>
  <p><%= expense.date_time %></p>
<% end %>