<% if user_signed_in? %>
  <%= link_to '<i class="glyphicon glyphicon-off"></i> Log Off'.html_safe,  destroy_user_session_path, method: :delete %>
<% end %>

<% if current_user.admin? %>
  <p><strong>All</strong> Expenses</p>

<table>
  <th>Description:</th>
  <th>Amount:</th>
  <th>Transaction Date:</th>
  <% @all_expenses.each do |expense| %>

  <tr>
    <td><%= expense.description %></td>
    <td>$ <%= '%.2f' % expense.amount %></td>
    <td><%= expense.date %></td>
  </tr>
  <% end %>
</table>
<% end %>

<p><strong><%= @user.email %>'s</strong> Expenses</p>
<%= form_for [@user, @new_expense] do |f| %>
  <%= f.text_field :description, required: true, placeholder: 'description' %>
  <%= f.text_field :amount, required: true, placeholder: 'amount' %>
  <%= date_field :expense, :date %>
  <%= time_field :expense, :time %>


  <%= f.submit "add an expense" %>

<% end %>

<table>
  <th>Description:</th>
  <th>Amount:</th>
  <th>Date</th>
  <% @user_expenses.each do |expense| %>

  <tr>
    <td><%= best_in_place [@user, expense], :description %></td>
    <td>$ <%= best_in_place [@user, expense],:amount %></td>
    <td><%= best_in_place [@user, expense], :date %></td>
    <td><%= link_to 'delete', user_expense_path(@user, expense),
            data: {:confirm => 'Are you sure?'}, :method => :delete %></td>
  </tr>
  <% end %>
  <tr>
    <td>* To edit: select desired field </td>
  </tr>
</table>


<p><strong><%= @user.email %>'s</strong> Reports</p>

<table>
  <th>Start Date:</th>
  <th>End Date:</th>
  <th>Total Cost</th>

<% @all_user_reports.each do |report| %>

  <tr>
    <td><%= report.start_date %></td>
    <td><%= report.end_date %></td>
    <td>$<%= report.total %></td>
  </tr>
<% end %> 

<%= form_for [@user, @new_report] do |f| %>
  start date: <%= date_field :start_date, :date %>
  end date: <%= date_field :end_date, :date %>


  <%= f.submit "generate a report" %>

<% end %>